* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
  list-style: none;
}

body {
  background-color: rgb(33, 37, 41);
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}

a {
  text-decoration: none;
}

.btn {
  background-color: transparent;
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  font-family: "Montserrat";
  cursor: pointer;
}

.btn:hover {
  background-color: #fff;
  color: #222;
  border: 1px solid #fff;
}

.cub {
  width: 5px;
  height: 5px;
  background-color: lawngreen;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-ExtraBold.eot");
  src: url("../fonts/Montserrat-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2"), url("../fonts/Montserrat-ExtraBold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
header {
  width: 100%;
  background: url("../images/hero_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
header .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.4);
}
header .header__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 33px 0;
  padding-left: 30px;
}
header .header__local {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
header .header__phone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
header .header__phone a {
  color: white;
}
header .header__right {
  display: flex;
  gap: 32px;
}
header .header__right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
}
header .header__right ul li a {
  font-size: 18px;
  font-weight: 500;
  color: white;
}
header .header__right ul li a:hover {
  color: purple;
}
header .header__right ul li select {
  border: none;
  background-color: transparent;
  font-size: 18px;
  font-weight: 500;
  color: white;
  outline: none;
}
header .header__right ul li select:hover {
  color: purple;
}
header .header__right button {
  padding: 40px 30px;
  background: transparent;
  font-size: 18px;
  color: #fff;
  border: none;
  background-color: rgb(106, 54, 156);
  cursor: pointer;
}
header .header__right .nav__bar {
  background-color: transparent;
  display: none;
}
header .hero {
  padding-top: 100px;
}
header .hero .container .row {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  gap: 5rem;
}
header .hero__top h1 {
  font-size: 56px;
  color: #fff;
  font-weight: 800;
}
header .hero__top p {
  width: 600px;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
  padding: 30px 0;
}
header .hero__btns {
  display: flex;
  gap: 20px;
}
header .hero__btns button {
  font-weight: 600;
  font-size: 20px;
}
header .hero__bottom {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
header .hero__bottom h1 {
  font-size: 24px;
  font-weight: 700;
}
header .hero__bottom_boxes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 52px;
}
header .hero__bottom_boxes span {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
header .hero__bottom_boxes h3 {
  color: rgb(4, 255, 20);
  font-size: 24px;
}
header .hero__bottom_boxes p {
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}

.about__top {
  display: flex;
}
.about__bottom {
  display: flex;
}
.about__content {
  flex: 0.5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about__content h1 {
  font-weight: 700;
  font-size: 24px;
  color: #fff;
}
.about__content p {
  font-weight: 500;
  font-size: 18px;
  margin: 25px 0;
  color: #fff;
  width: 500px;
}
.about__content a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: rgb(4, 255, 20);
}
.about__img {
  flex: 0.8;
  width: 100%;
  height: 500px;
}
.about__img.respons__1 {
  display: none;
}

.testimonials {
  padding: 120px 0;
  width: 100%;
  background-color: rgb(39, 43, 48);
}
.testimonials__cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.testimonials__cards_card {
  width: 400px;
  padding: 30px;
  background-color: rgb(33, 37, 41);
  color: #fff;
}
.testimonials__cards_card h3 {
  font-size: 24px;
  font-weight: 700;
}
.testimonials__cards_card p {
  font-weight: 500;
  font-size: 18px;
  padding: 20px 0;
}
.testimonials__cards_card img {
  width: 100%;
}

.mission {
  background-image: url("../images/mission.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 120px 0;
  height: auto;
  color: #fff;
}
.mission h2 {
  font-size: 36px;
  font-weight: 700;
}
.mission p {
  width: 516px;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0;
}
.mission a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}

.chooses {
  background: rgb(33, 37, 41);
  padding: 110px 0;
}
.chooses .row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.chooses .row .chooses_boxes {
  flex: 0.7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.chooses .row .chooses_box h1,
.chooses .row .chooses_head h1 {
  font-size: 36px;
  color: rgb(243, 243, 243);
  font-weight: 700;
}
.chooses .row .chooses_box h3,
.chooses .row .chooses_head h3 {
  font-size: 24px;
  font-weight: 500;
  color: rgb(243, 243, 243);
  padding: 20px 0;
}
.chooses .row .chooses_box a,
.chooses .row .chooses_head a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 600;
}
.chooses .row .chooses_box a:hover,
.chooses .row .chooses_head a:hover {
  color: purple;
}

.driveing {
  background: rgb(33, 37, 41);
  margin-top: 0px;
}
.driveing .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.driveing__left {
  flex: 0.4;
  color: #fff;
  height: 450px;
  background-color: rgb(82, 31, 132);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 5rem;
}
.driveing__left h3 {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
}
.driveing__left p {
  margin: 6px 0;
  font-size: 18px;
  color: rgb(164, 102, 225);
}
.driveing__left button {
  margin-top: 20px;
  font-size: 20px;
}
.driveing__right {
  flex: 0.6;
  width: 100%;
}
.driveing .vector {
  position: absolute;
  left: 0;
  bottom: 0;
}

.partners {
  background: rgb(33, 37, 41);
  padding: 100px 0;
}
.partners h2 {
  display: flex;
  justify-content: center;
  color: #fff;
}
.partners__barnds {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  flex-wrap: wrap;
}
.partners__barnds img {
  width: 200px;
}

.contact {
  background: rgb(33, 37, 41);
  padding: 100px 0;
}
.contact .row {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.contact__boxes {
  flex: 0.9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}
.contact__box, .contact__head {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact__box h2, .contact__head h2 {
  font-size: 24px;
  color: #fff;
  font-weight: 700;
}
.contact__box h3, .contact__head h3 {
  color: rgb(175, 175, 175);
  font-size: 18px;
  font-weight: 500;
}
.contact__box p, .contact__head p {
  font-size: 18px;
  font-weight: 500;
  color: #fff;
}
.contact__box .adress, .contact__head .adress {
  width: 300px;
}
.contact__local {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  gap: 10px;
}

footer {
  background-color: rgb(39, 43, 48);
  padding: 40px 0;
}
footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .row .footer__left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
footer .row .footer__left a {
  color: #fff;
}

@media (max-width: 1500px) {
  header {
    background-size: cover;
    height: 100%;
  }
  header .header__right ul {
    display: none;
  }
  header .header__right .nav__bar {
    display: block;
  }
  header .hero {
    padding: 3rem 0;
  }
  .about__img {
    flex: 0.5;
    width: 100px;
  }
  .testimonials__cards_card {
    width: 350px;
  }
  .driveing__left {
    flex: 0.3;
  }
  .driveing__right {
    flex: 0.8;
  }
  .driveing__right img {
    width: 100%;
    height: 450px;
  }
}
@media (max-width: 1160px) {
  .about__content p {
    width: 400px;
    font-size: 16px;
  }
  .testimonials__cards_card {
    width: 300px;
  }
  .partners__barnds img {
    width: 120px;
  }
}
@media (max-width: 1060px) {
  header {
    background-size: cover;
    height: 100%;
  }
  header .header__local {
    display: none;
  }
  header .header__phone {
    display: none;
  }
  header .hero {
    padding: 3rem 0;
  }
}
@media (max-width: 850px) {
  header {
    background-size: contain;
    height: auto;
  }
  .about__top {
    flex-direction: column;
  }
  .about__bottom {
    flex-direction: column;
  }
  .about__content {
    width: 100%;
    padding: 50px 40px;
  }
  .about__content p {
    width: 100%;
  }
  .about__img {
    width: 100%;
    display: none;
  }
  .about__img.respons__1, .about__img.respons__2 {
    width: 100%;
    display: block;
  }
  .mission a,
  .mission p {
    width: 336px;
    font-size: 15px;
  }
  .mission h2 {
    font-size: 20px;
  }
  .contact__boxes {
    flex-direction: column;
    align-items: start;
  }
  footer .row {
    flex-direction: column;
    gap: 2rem;
    align-items: start;
  }
}
@media (max-width: 700px) {
  header {
    height: 100%;
  }
  header .hero__top h1 {
    font-size: 24px;
  }
  header .hero__top p {
    width: 300px;
    font-size: 15px;
  }
  .testimonials__cards {
    justify-content: center;
  }
  .testimonials__cards__card {
    width: 340px;
  }
  .testimonials__cards__card p {
    font-size: 15px;
  }
  .testimonials__cards__card img {
    width: 100%;
  }
  .driveing .row {
    flex-direction: column;
  }
  .driveing__left {
    width: 100%;
    padding: 4rem;
  }
}
@media (max-width: 560px) {
  header .header__right {
    gap: 15px;
  }
  header .header__btn {
    display: none;
  }
  header .hero {
    padding-top: 10rem;
  }
  header .hero__top p {
    width: 100%;
    font-size: 15px;
  }
  header .hero__btns {
    flex-direction: column;
    width: 100%;
  }
  header .hero__btns button {
    width: 90%;
  }
  header .hero__bottom_boxes {
    flex-direction: column;
    align-items: start;
  }
  header .hero__bottom img {
    width: 100%;
  }
  .partners__barnds {
    flex-direction: column;
  }
  .partners__barnds img {
    width: 100%;
  }
  .mission {
    background-image: url("../images/Rectangle124.png");
  }
  .chooses .row {
    justify-content: start;
  }
  .chooses .row .chooses_boxes {
    flex-direction: column;
    align-items: start;
  }
  .contact .row {
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */